<div class="message-history">
  <h2>Message History</h2>
  <div *ngIf="messages.length > 0; else noMessages">
    <div *ngFor="let msg of messages" class="message-item">
      <div class="message-meta">
        <span class="phone">{{ formatPhoneNumber(msg.phone) }}</span>
        <span class="timestamp">{{ msg.created_at | date:'short' }}</span>
      </div>
      <div class="body">{{ msg.body }}</div>
    </div>
  </div>
</div>

<ng-template #noMessages>
  <p>No messages yet.</p>
</ng-template>
